{% if id %}
    <input
        id="{{ id }}"
        class="b-input-submit"
        type="submit"
        value="{{ value }}"
        name="{{ name }}"
        {% if disabled %} disabled {% endif %}
        {% if required %} required {% endif %}
    >
{% else %}
    <h2 style="color: red">Пожалуйста, укажи уникальный id для инпута</h2>
{% endif %}
