// стандартный transition
// $property {String} свойство(а) которуе нужно анимировать
@mixin transition($property: all, $time: 0.3s) {
  transition-property: $property;
  transition-duration: $time;
  transition-timing-function: ease-out;
}

// Сброс стилей маркированного списка
@mixin list-normalize {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin list-li-normalize {
  margin: 0;
  padding: 0;
  background: none;

  &:before,
  &:after {
    content: none;
  }
}

@mixin list-all-normalize {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    background: none;

    &:before,
    &:after {
      content: none;
    }
  }
}

// Сброс стилей кнопкиы
@mixin button-reset {
  border: none;
  background: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

// Фильтры для эффектов
@mixin gray-filter {
  filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  filter: gray;
}

@mixin gray-filter-hover {
  filter: grayscale(0%);
  filter: url(desaturate.svg#greyscale);
  filter: gray;
  transition: .2s ease-out;
}

// clearfix на случай float
@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Скрытие элементов
@mixin visibility-hidden() {
  visibility: hidden;
  opacity: 0;
  height: 0;
  pointer-events: none;
}

@mixin visibility-visible() {
  visibility: visible;
  opacity: 1;
  height: auto;
  pointer-events: auto;
}
