{% include '../assets/layout/base.twig' with {
    title: 'Компоненты',
    meta_d: 'Компоненты',
    theme_color: '#007B3B'
} %}

{% block body %}

    {#<h2>Лого</h2>#}
    {#{% include '../components/logo/logo.twig' %}#}

    {#<h2>Кнопки</h2>#}
    {#{% include '../components/buttons/button.twig' with {#}
        {#text: 'Забронировать кнопка',#}
        {#modify: 'btn--default',#}
        {#data_attr: 'data-action="popup"',#}
        {#disabled: true,#}
    {#}%}#}

    {#{% include '../components/buttons/button.twig' with {#}
        {#text: 'Забронировать ссылка',#}
        {#modify: 'btn--default',#}
        {#data_attr: 'data-action="popup"',#}
        {#tag: 'a',#}
        {#href: '#',#}
        {#active: true#}
    {#}%}#}

    {#{% include '../components/buttons/button.twig' with {#}
        {#text: 'Забронировать input',#}
        {#modify: 'btn--default',#}
        {#data_attr: 'data-action="popup"',#}
        {#disabled: true,#}
        {#tag: 'input'#}
    {#}%}#}

    <h2>Аккордион - классический</h2>
    {% include '../components/accordion/accordion.twig' %}

{% endblock %}


{% block footer %}

{% endblock %}


{% block script %}

{% endblock %}
