{% include '../assets/layout/base.twig' with {
    title: 'Главная',
    meta_d: 'Описание',
    theme_color: '#007B3B'
} %}

{% block body %}

    <h1>GRID</h1>
    <h2>на примере 12 колоночной сетки</h2>
    <div class="container">
        <div class="grid-exemple-row">
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
            <div class="col-1-12">
                <div class="grid-exemple-inner">column(1,12)</div>
            </div>
        </div>

        <div class="grid-exemple-row">
            <div class="col-2-12">
                <div class="grid-exemple-inner">column(2,12)</div>
            </div>
            <div class="col-2-12">
                <div class="grid-exemple-inner">column(2,12)</div>
            </div>
            <div class="col-2-12">
                <div class="grid-exemple-inner">column(2,12)</div>
            </div>
            <div class="col-2-12">
                <div class="grid-exemple-inner">column(2,12)</div>
            </div>
            <div class="col-2-12">
                <div class="grid-exemple-inner">column(2,12)</div>
            </div>
            <div class="col-2-12">
                <div class="grid-exemple-inner">column(2,12)</div>
            </div>
        </div>

        <div class="grid-exemple-row">
            <div class="col-3-12">
                <div class="grid-exemple-inner">column(3,12)</div>
            </div>
            <div class="col-3-12">
                <div class="grid-exemple-inner">column(3,12)</div>
            </div>
            <div class="col-3-12">
                <div class="grid-exemple-inner">column(3,12)</div>
            </div>
            <div class="col-3-12">
                <div class="grid-exemple-inner">column(3,12)</div>
            </div>
        </div>

        <div class="grid-exemple-row">
            <div class="col-4-12">
                <div class="grid-exemple-inner">column(4,12)</div>
            </div>
            <div class="col-4-12">
                <div class="grid-exemple-inner">column(4,12)</div>
            </div>
            <div class="col-4-12">
                <div class="grid-exemple-inner">column(4,12)</div>
            </div>
        </div>

        <div class="grid-exemple-row">
            <div class="col-5-12">
                <div class="grid-exemple-inner">column(5,12)</div>
            </div>
            <div class="col-5-12">
                <div class="grid-exemple-inner">column(5,12)</div>
            </div>
        </div>

        <div class="grid-exemple-row">
            <div class="col-6-12">
                <div class="grid-exemple-inner">column(6,12)</div>
            </div>
            <div class="col-6-12">
                <div class="grid-exemple-inner">column(6,12)</div>
            </div>
        </div>

        <div class="grid-exemple-row">
            <div class="col-4-12 push-col-2">
                <div class="grid-exemple-inner">column(4,12) + push(2,12)</div>
            </div>
            <div class="col-4-12 post-col-2">
                <div class="grid-exemple-inner">column(4,12) + post(2,12)</div>
            </div>
        </div>

    </div>


{% endblock %}



{% block footer %}

{% endblock %}



{% block script %}

{% endblock %}
