{% extends 'layout/base.twig' %}

{% block body %}
{% set title = 'Главная' %}
{% set meta_d = 'Описание' %}
{% set theme_color = '#FFFFFF' %}

<h1>Привет, я новый сайт, сверстай меня скорей =)</h1>
{% endblock %}
