@import './mixins/_font-face-generator';

/*
@font-face {
  font-family: "Samplina Neue";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/SamplinaNeue.eot?") format("eot"),
       url("fonts/SamplinaNeue.woff2") format("woff2"),
       url("fonts/SamplinaNeue.woff") format("woff"),
       url("fonts/SamplinaNeue.ttf") format("truetype"),
       url("fonts/SamplinaNeue.svg#Samplina_Neue") format("svg");
}
*/

@include font-face($font-family, $font-name-regular, 400, normal, woff2 woff ttf);
@include font-face($font-family, $font-name-bold, 700, normal, woff2 woff ttf);
