/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v15-latin_cyrillic-regular.woff') format('woff'),
       url('../fonts/open-sans-v15-latin_cyrillic-regular.ttf') format('truetype');
}

/* open-sans-SemiBold - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../fonts/open-sans-v15-latin_cyrillic-600.woff2') format('woff2'),
       url('../fonts/open-sans-v15-latin_cyrillic-600.woff') format('woff'),
       url('../fonts/open-sans-v15-latin_cyrillic-600.ttf') format('truetype');
}
