// Переводит число в пиксели
// $number - {Number} - число - 100
// @return - {String} - возвращает число в пикселях - 100px
@function numberToPx($number) {
  @return $number * 1px;
}

// Проверяет задано ли значение в %
@function is-percentage($value) {
  @return is-number($value) and unit($value) == '%';
}

// Вычисляет вертикальный и горизотанльцы ритм
// $size - {Number} - число - множитель для переменной $rhythm
@function rhythm($size) {
  @return $rhythm * $size;
}

@function on-percent($percent, $context: $font-basic) {
  @if (is-percentage($percent)) {
    $percent: $percent * $context * 1em;
  } @else {
    $percent: $percent * $context * 1em;
  }

  @return $percent;
}

// Переводит размер шрифта из пикселей в EM
@function em($pixels, $context: $font-basic) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}
