/* ГЛОБАЛЬНЫЕ ТЕГИ */

html {
  font-size: $font-basic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  color: $color-text;
  background-color: $color-background;
  min-width: 320px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection,
::selection {
  background-color: rgba($color: $color-second, $alpha: 0.9);
  text-shadow: none;
  color: $white;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* ТИПОГРАФИКА */

h1 {
  @include font-size('h1');

  color: $color-text;
  line-height: 1.25em;
  font-weight: $font-bold;
}

h2 {
  @include font-size('h2');

  line-height: 1.3em;
  color: $color-text;
  font-weight: $font-bold;
}

h3 {
  @include font-size('h3');

  color: $color-text;
  line-height: 1.5em;
  font-weight: $font-bold;
}

h4 {
  @include font-size('h4');

  color: $color-text;
  line-height: 1.5em;
  font-weight: $font-bold;
}

h5 {
  @include font-size('h5');

  color: $color-text;
  line-height: 1.5em;
  font-weight: $font-bold;
}

h6 {
  @include font-size('h6');

  color: $color-text;
  line-height: 1.5em;
  font-weight: $font-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  a {
    font: inherit;
    color: inherit;
  }
}

p {
  @include font-size('p');

  line-height: 165%;
  color: $color-text;
}

.secondary-text {
  line-height: 1.5em;
  color: $color-text;
}

.mini-text {
  line-height: $line-height;
  color: $color-text;
}

a {
  font-weight: 400;
  font-family: $font-family;
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:active {
    color: $link-active-color;
  }

  &:focus {
    color: $link-focus-color;
  }
}

button {
  box-shadow: none;
  background-color: transparent;
  border: 0;
  display: flex;
  font-size: em($font-basic);
  font-family: $font-family;
  line-height: $line-height;
  color: $color-text;
  text-align: center;
  border-radius: 4px;

  &:focus {
    cursor: pointer;
  }

  span {
    width: 100%;
  }
}

ul {
  @include list-normalize;

  li {
    @include list-li-normalize;
  }
}

ol {
  list-style: decimal;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only,
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ФОРМЫ */

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

input,
textarea {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0;
  -webkit-padding-start: 0;
  overflow: hidden;
}

input::placeholder,
input[placeholder],
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea[placeholder],
textarea::-moz-placeholder,
textarea:-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::-webkit-input-placeholder {
  @include font-size('form');

  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.4em;
  color: $color-text;
}

// input::-internal-autofill-previewed,
// input::-internal-autofill-selected,
// textarea::-internal-autofill-previewed,
// textarea::-internal-autofill-selected,
// select::-internal-autofill-previewed,
// select::-internal-autofill-selected,
// input::-webkit-internal-autofill-selected,
// input::-webkit-internal-autofill-selected:hover,
// input::-webkit-internal-autofill-selected:focus,
// input::-webkit-internal-autofill-selected:active {
//   background-color: $trs !important;
// }

// @-webkit-keyframes autofill {
//   to {
//     color: $white;
//     background: $trs;
//   }
// }

// .pointerEventsNone {
//   pointer-events: none;
// }

// input:-webkit-autofill {
//   -webkit-animation-name: autofill;
//   -webkit-animation-fill-mode: both;
// }

// input:-webkit-autofill {
//   box-shadow: inset 0 0 0 1000px $trs;
// }

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   -webkit-box-shadow: 0 0 0 30px $trs inset !important;
// }

// input::-webkit-autofill {
//   -webkit-text-fill-color: $trs !important; /* цвет текста */
//   color: $white !important; /* цвет текста */
// }

// input::-webkit-contacts-auto-fill-button {
//   visibility: hidden;
//   display: none !important;
//   pointer-events: none;
//   position: absolute;
//   right: 0;
// }


/* ТАБЛИЦЫ */
/* сброс и общая настройка */

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

thead {

}

tbody {

}

tfoot {

}

tr {

}

td {
  font-weight: $font-regular;
}

th {
  font-weight: $font-regular;
  text-align: left;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
