.container {
  @include container();
}

.grid-exemple-row {
  @include row();
  overflow: hidden;
  margin-bottom: rhythm(4);
}

// 12 колонок

.col-1-12 {
  @include column(1, 12);
}

.col-2-12 {
  @include column(2, 12);
}

.col-3-12 {
  @include column(3, 12);
}

.col-4-12 {
  @include column(4, 12);
}

.col-5-12 {
  @include column(5, 12);
}

.col-6-12 {
  @include column(6, 12);
}

.push-col-2 {
  @include push(2,12);
}

.post-col-2 {
  @include post(2,12);
}

.grid-exemple-inner {
  border: 1px solid $gray;
  color:  $gray-darken;
  height: 50px;
  padding: rhythm(2);
  display: flex;
  font-weight: $font-bold;
}
