.grid-example-container {
  @include container();
}

.grid-example-row {
  @include row();
  overflow: hidden;
}

// 12 колонок
.col-1-12 {
  @include column(1, 12);
}

.col-2-12 {
  @include column(2, 12);
}

.col-3-12 {
  @include column(3, 12);
}

.col-4-12 {
  @include column(4, 12);
}

.col-5-12 {
  @include column(5, 12);
}

.col-6-12 {
  @include column(6, 12);
}

.col-11-12 {
  @include column(11, 12);
}

.col-5-11 {
  @include column(5, 11);
}

.col-6-11 {
  @include column(6, 11);
}

.col-3-11 {
  @include column(3, 11);
}

.col-1-2 {
  @include column(1, 2);
}

.push-col-2 {
  @include push(2, 12);
}

.post-col-2 {
  @include post(2, 12);

  margin-left: column(2, 12);
}

.grid-example-inner {
  @include font-size('small');

  position: relative;
  display: flex;
  height: 100%;
  min-height: 50px;
  padding: rhythm(2);
  font-weight: $font-bold;
  color:  $gray-darken;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    border: 1px solid $gray;
  }
}

.grid-item {
  //padding-bottom: rhythm(4);
}
