// GRID
// Максимальная ширина контейнера
$grid-max-width:          auto;

// Колчество колонок
$grid-columns:            36;

// Вертикальный ритм
$rhythm:                  4px;

// breakpoints
$mobile:                  0px;
$tablet:                  768px;
$tablet-landscape:        1024px;
$desktop:                 1280px;
$desktop-wide:            1440px;
$fullhd:                  1920px;
$ultra:                   2560px;

/* COLORS */
// Градации серого
$gray:            				#808080;
$gray-lightest:					  #f8f8f8;
$gray-lighten:    				#f5f5f5;
$gray-light:      				#b3b3b3;
$gray-samidark:   				#CCCCCC;
$gray-dark:       				#585858;
$gray-darken:     				#333333;
$gray-darkest:					  #222222;
$black:							      #000000;
$white:						        #ebebeb;

// Брендовые цвета
$color-main:					    #F0C444;
$color-main-light:				#F0C444;
$color-main-dark:				  #A37E12;
$color-main-darken:				#8D650D;

$color-second:					  #fc7279;
$color-second-light:			lighten($color-second, 10%);
$color-second-dark:				darken($color-second, 10%);

// Фон
$color-background:				#FFFFFF;

// Стандартный цвет текста
$text-color:					    $gray-darkest;

// Стандартный цвет ссылок
$link-color:            	$color-main;
$link-hover-color:      	$color-main-dark;
$link-focus-color:      	$color-main-darken;
$link-active-color:      	lighten($link-hover-color, 10%);

// FONTS
$font-basic:              10px;
$font-size:						    1.4rem;
$font-name:					      'Open Sans';
$font-family:					    'Open Sans', 'Arial', sans-serif;
$font-bold:						    700;
$font-regular:					  400;
$font-light:					    300;
$font-semibold:					  700;

$font-second-name:			'PT Serif';
$font-second-family:			'PT Serif', 'Times', serif;
$font-second-bold:				700;
$font-second-regular:			400;
$font-second-light:				300;
$font-second-semibold:		700;

$line-height:					    1.5em;

$font-sizes: (
  // $mobile | $tablet | $tablet-landscape | $desktop | $desktop-wide | $fullhd | $ultra
  h1:     (30, 30, 40, 54, 54, 72, 95),
  h2:     (26, 26, 32, 44, 44, 44, 44),
  h3:     (20, 20, 22, 24, 24, 32, 42),
  h4:     (18, 18, 20, 22, 22, 26, 32),
  h5:     (16, 16, 18, 20, 20, 24, 32),
  h6:     (14, 16, 16, 18, 20, 22, 30),
  p:      (16, 16, 16, 18, 18, 20, 30),
  p2:     (14, 14, 16, 16, 16, 18, 20),
  small:  (12, 12, 14, 14, 14, 16, 18),
  form:   (16, 16, 16, 18, 18, 20, 30)
);
