// COLORS
$trs:                transparent;
$black:					     #1f1f1f;
$white:					     #ffffff;

// BTN
$main-btn:           #ff4c4f;
$main-btn--hover:    #fccfd3;
$main-btn--pressed:  #faa8b0;

$secondary-btn:           #0c0a24;
$secondary-btn--hover:    #fccfd3;
$secondary-btn--pressed:  #faa8b0;

$color-font:              $black;
$color-background:        $white;
$segmet-background-color: #e7edff;

$header-bg:         #22212f;

// FONTS
$font-family:       'Gerbera';
$font-name-regular: 'Gerbera-Regular';
$font-name-bold:    'Gerbera-Bold';

$font-basic:        18px !default;
$line-height:				24px !default;

// Базовый ветикальный ритм
$rhythm:            8px;

// Grid
$default-grid-columns: 12;

// breakpoints
$breakpoints: (
  'xs':   0,
  'sm':   640px,
  'md':   768px,
  'lg':   1024px,
  'xl':   1280px,
  'xxl':  1920px
) !default;

// breakpoints  
$containers: (
  'xs':   0,
  'sm':   640px,
  'md':   768px,
  'lg':   1024px,
  'xl':   1400px
) !default;
