<div class="accordion j-accordion">
    <ul class="accordion__list">
        <li class="accordion__item" data-item="">
            <div class="accordion__header" data-btn="level1-1">
                <h3>На территории</h3>
                <button class="accordion__btn"></button>
            </div>
            <div class="accordion__body" data-body="level1-1">
                <p>В случае грубых нарушений правил проживания, пожарной безопасности,
                    проявления вандализма или противоправных действий, арендатору может быть отказано в
                    аренде с выселением в течение часа без возврата арендной платы.</p>
                <div class="accordion">
                    <ul class="accordion__list">
                        <li class="accordion__item" data-item="">
                            <div class="accordion__header" data-btn="level2-1">
                                <h3>уровень 2 - 1</h3>
                                <button class="accordion__btn"></button>
                            </div>
                            <div class="accordion__body" data-body="level2-1">
                                <p>В случае грубых нарушений правил проживания, пожарной безопасности,
                                    проявления вандализма или противоправных действий, арендатору может быть отказано в
                                    аренде с выселением в течение часа без возврата арендной платы.</p>
                            </div>
                        </li>
                        <li class="accordion__item" data-item="">
                            <div class="accordion__header" data-btn="level2-2">
                                <h3>уровень 2 - 2</h3>
                                <button class="accordion__btn"></button>
                            </div>
                            <div class="accordion__body" data-body="level2-2">
                                <p>В случае грубых нарушений правил проживания, пожарной безопасности,
                                    проявления вандализма или противоправных действий, арендатору может быть отказано в
                                    аренде с выселением в течение часа без возврата арендной платы.</p>
                                <div class="accordion">
                                    <ul class="accordion__list">
                                        <li class="accordion__item" data-item="">
                                            <div class="accordion__header" data-btn="level3-1">
                                                <h3>уровень 3 - 1</h3>
                                                <button class="accordion__btn"></button>
                                            </div>
                                            <div class="accordion__body" data-body="level3-1">
                                                <p>В случае грубых нарушений правил проживания, пожарной безопасности,
                                                    проявления вандализма или противоправных действий, арендатору может быть отказано в
                                                    аренде с выселением в течение часа без возврата арендной платы.</p>
                                            </div>
                                        </li>
                                        <li class="accordion__item" data-item="">
                                            <div class="accordion__header" data-btn="level3-2">
                                                <h3>уровень 3 - 2</h3>
                                                <button class="accordion__btn"></button>
                                            </div>
                                            <div class="accordion__body" data-body="level3-2">
                                                <p>В случае грубых нарушений правил проживания, пожарной безопасности,
                                                    проявления вандализма или противоправных действий, арендатору может быть отказано в
                                                    аренде с выселением в течение часа без возврата арендной платы.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="accordion__item" data-item="">
            <div class="accordion__header" data-btn="level1-2">
                <h3>Сауна</h3>
                <button class="accordion__btn"></button>
            </div>
            <div class="accordion__body" data-body="level1-2">
                <p>В случае грубых нарушений правил проживания, пожарной безопасности,
                    проявления вандализма или противоправных действий, арендатору может быть отказано в
                    аренде с выселением в течение часа без возврата арендной платы.</p>
            </div>
        </li>
    </ul>
</div>
